.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scrollable-panel {
  overflow-y: auto;
  scroll-behavior: auto !important;
  overscroll-behavior: none;
}

body {
  margin: 0;
  scroll-behavior: auto;
  overflow-anchor: none;
  padding: 0;
}
